<div ng-controller="Controller">

  <!-- HEADER -->
  <div class="header">
    <div style="font: 20pt sans-serif; margin-bottom: 10px; margin-top: 10px;">Example for Tender.Pro :)</div>
    <button type="button" class="generate" ng-click="generate()">Generate another id!</button>
    <button type="button" class="send" ng-click="send()">Send GET request!</button>
  </div>

  <!-- CONTENT -->
  <div class="content">

    <div class="request">
      <span>What are we sending?</span>
      <table style="width:100%">
        <tr>
          <th style="width:30%">Name</th>
          <th>Value</th>
        </tr>
        <tr ng-repeat="item in list">
          <td style="width:30%">{{item.name}}</td>
          <td><input ng-model="item.value" type="text" name="name" value={{item.value}}></td>
        </tr>

      </table>
    </div>
    <div class="response">
      <span>Response</span>
      <div ng-if="response">
        <table style="width:100%">
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Area</th>
            <th>Address</th>
            <th>Inn</th>
            <th></th>
          </tr>
          <tr ng-repeat="item in response">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.area}}</td>
            <td>{{item.address}}</td>
            <td>{{item.inn}}</td>
          </tr>
        </table>
        <!-- {{response}} -->
      </div>
      <div ng-if="!response">
        There is no response yet. Send request first.
      </div>
    </div>

    </div>

    <!-- FOOTER -->
    <div class="footer">
      In this Example I used
      <a href="http://expressjs.com/" target="_blank">express</a>,
      and
      <a href="https://angularjs.org" target="_blank">angular</a>
      .
    </div>
</div>
