body {
  margin: 0px;
  font: 14pt sans-serif;
}
a {
  color: #bb1111;
}
input {
  position: relative;
  width: 95%;
  font-size: 85%;
  outline: none;
  border: none;
  background: #f9f9f9;
  border-bottom:1px solid #D3CAD7;
  transition: background 0.3s;
  height: 20px;
  padding:9px;
  font: 11pt sans-serif;
}
input:focus {
  background: #fcfcfc;
}
button {
  margin-left: 10px;
  color: #ffffff;
  height: 40px;
  width: 180px;
  outline: none;
  padding: 8px;
  border: none;
  border-radius: 5px;
}
.generate {
  background: #0D2399;
}
.send {
  background: #bb1111;
}
button:active {
  opacity: 0.9 ;
}
th, td {
    padding: 15px;
    text-align: left;
}
.header {
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: #000000;
    color:white;
    text-align:center;
    font: 13pt sans-serif;
    color: #ffffff;
}
.content {
  position: absolute;
  top: 100px;
  height: 74%;
  width: 100%;
}
.request {
  height:95%;
  width:35%;
  overflow: auto;
}
.footer {
  position: absolute;
  bottom: 0px;
  height: 10%;
  width: 100%;
  background-color:black;
  color:white;
  padding-top: 4px;
  text-align:center;
}
.response {
  position: absolute;
  left: 35%;
  top: 0px;
  height:95%;
  width:60%;
  overflow: auto;
}
